.slick-item {
  position: relative;
  box-sizing: border-box;
 
  padding: 16px;
  width: auto;
  height: 700px;
}
.slick-item img {
  width: 11
  
  0%;
  margin: 50px;
}

.slick-item .content {
  padding: 16px;
  background-color: cornflowerblue;
}

.slick-item .content .slick-description,
.slick-item .content button {
  display: none;
}
.slick-current .content button,
.slick-current .content .slick-description {
  display: block;
}

.slick-current .content {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 100px;
}
